extends ../layout 


block content

    .card.shadow(style='margin-top: 130px;')
        .card-header
            | Reference Form Find  
        .card-body.border-start.border-primary.border-4
            .container 
                form(action="/find", method="post") 
                    .row 
                        .col-sm-3
                            label(for="") Reference 
                            input.form-control.border-info(type="number", name="reference")
                        .col-12.mt-3
                            button.btn.btn-outline-primary.btn-sm(type="submit" ) Get Item
                            button#addButton.btn.btn-outline-dark.btn-sm.mx-2(type='button') Add New

