doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title ABDULLAH - AL - NOMAN

        //- link(rel='preconnect' href='https://fonts.googleapis.com')
        //- link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        //- link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap' rel='stylesheet')

        
        link(rel="shortcut icon", href="/static/n.png", type="image/x-icon")
        link(rel="stylesheet", href="/css/aos.css")
        link(rel="stylesheet", href="/css/all.min.css")
        link(rel="stylesheet", href="/css/dataTables.bootstrap5.css")
        
        <!-- MDB -->
        link(rel="stylesheet", href="/css/mdb.min.css")
        link(rel="stylesheet", href="/css/bootstrap.min.css")

        link(rel="stylesheet", href="/css/style.css")
        
    body
        include common/navbar
        
        block content 
        
        script(src="/js/aos.js") 
        <!-- MDB -->
        script(src="/js/mdb.umd.min.js") 

        script(src="/js/bootstrap.bundle.min.js")
        script(src="/js/jquery-3.7.1.js")
        script(src="/js/dataTables.js")
        script(src="/js/dataTables.bootstrap5.js")

        script.
            AOS.init();
            new DataTable('#example');
