extends layout

block content

  h3(style='margin-top: 130px;') 
    
  if message
    .alert.alert-warning.alert-dismissible.fade.show.mx-auto(role='alert')
      strong= message
      button.btn-close(type='button', data-bs-dismiss='alert', aria-label='Close')

  .container 
    .row
      .col-md-6.offset-md-3.border-start.border-4.border-primary.bg-white.shadow.p-3.rounded-end
        h2.text-center Register
        form(action="/register" method="post")
          .form-group
            label(for="username") Username
            input.form-control(type="text" id="username" name="username")
          .form-group
            label(for="username") Email
            input.form-control(type="text" id="username" name="email")
          .form-group
            label(for="password") Password
            input.form-control(type="text" id="password" name="password")
          .form-group.mt-2
            button.btn.btn-primary(type="submit") Register
  
