extends ../layout


block content

    style.
        body{background-color: rgb(74, 223, 243);}

    .container(style='margin-top: 130px;') 
        .row
            .col-sm-4.mx-auto

                .card 
                    .card-body 

                h1 Hello world
            .col-sm-8.mx-auto
                .card.shadow.mb-5.rounded-0(style='background: linear-gradient(to right top, rgba(255,255,255, 0), rgba(255,255,255, 1));')
                    .card-body
                        h4.card-header.text-center.mb-5(style=' border-bottom: 3px solid coral;') Edit User
                        form(action='/admin/update-role', method='post')

                            .mb-3
                                .form-outline(data-mdb-input-init='')
                                    input#formControlLg.form-control.form-control-lg(type='text' name='userId')
                                    label.form-label(for='formControlLg') User ID 

                            .mb-3
                                label(for='newRole') Select New Role
                                select.form-control(name='newRole', required)
                                    option(value='user') User
                                    option(value='admin') Admin

                            .mb-3
                                button.btn.btn-primary.text-capitalize(type='submit') Update Role

                    .card-footer.bg-white.fw-bold.p-3.text-center.rounded-0
                        
                        if message
                            .alert.alert-warning.alert-dismissible.fade.show.mx-auto.m-0.text-center.rounded-0(role='alert' style=' border-left: 5px solid red; ')
                                span= message
                                button.btn-close(type='button', data-bs-dismiss='alert', aria-label='Close')

                        
                        if successMessage
                            .alert.alert-info.alert-dismissible.fade.show.mx-auto.m-0.text-center.rounded-0(role='alert' style=' border-left: 5px solid darkturquoise;')
                                span= successMessage
                                button.btn-close(type='button', data-bs-dismiss='alert', aria-label='Close')
